header {
    	background-color: #FF0000;
    	height: 70px;
    	width: 100%;
    	border-bottom: 1px solid #CCCCCC;
    	display: flex;
    	align-items: center;
    	justify-content: space-between;
    	padding-left: 20px;
}

header .logo {
    	display: inline-block;
    	vertical-align: middle;
    	margin-right: 20px;
    	height: 60px;
    	background-image: url("../images/logo.png");
    	background-size: contain;
    	background-repeat: no-repeat;
}
