header{
    background-color: white;
    height: 70px;
    width: 100%;
    border-bottom:  1px #CCCCCC solid;
}

header div {
    width: 10%;
    height: 70px;
    background-image: url('../images/logo-removebg-preview.png');
    background-size: cover;
}